div h2
{
    text-align:center;
    color:blue
}

body{
    font-weight: Bold;
    text-align: center;
    background-image: url('https://th.bing.com/th/id/R8de0d825f1261894fa1d206b22fbd6f7?rik=j6HyJ5y8R6iSyA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1905627.jpg&ehk=GDy6sz%2bAimmwYPVwhMOyTqRhkPXbR0%2flHBanGyGC1V4%3d&risl=&pid=ImgRaw');
    background-size: cover;
    
}

.form
{
    font-size:20px; 
    font-weight:bold; 
    color:white; 
       text-align: center;
       background: rgb(0, 0, 0); /* Fallback color */
       background: rgba(0, 0, 0, 0.733); /* Black background with 0.5 opacity */
}